body {
    background-color: white;
}

header {
    padding: 4px;
    margin: 1em;
    text-align: center;
    font-family: sans-serif;
    color: darkblue;
    background-color: aliceblue;
    border-radius: 1em;
}

main {
    padding-top: 30px;
    padding-bottom: 400px;
    margin: 1em 5em 1em 2em;
    background-color: seashell;
    border-radius: 1em 5em;
}

main article h2 {
    padding-left: 20px;
    font-family: serif;
}

main article section {
    padding-left: 30px;
    font-family: monospace;
}

main nav {
    padding-left: 30px;
}

footer {
    padding: 2px;
    margin: 0.5em;
    text-align: center;
    font-family: sans-serif;
    font-stretch: expanded;
    color: aliceblue;
    background-color: darkblue;
    border-radius: 0.5em;
}
