.main-root {
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-background-color: white;
}

.menu-bar {
    -fx-alignment: center;
}

.menu {
    -fx-font-size: 1.2em;
}

.menu-item {
    -fx-font-size: 1.0em;
}
