.main-sample-two-view {
    -fx-margin: 2px;
}

.header {
    -fx-background-color: #def;
}

.label {
    -fx-padding: 10px;
    -fx-font-size: 1.2em;
}

.pane {
    -fx-background-color: #fff;
    -fx-margin: 10px;
}

.button-bar {
    -fx-padding: 10px;
    -fx-background-color: #def;
}

.button {
    -fx-padding: 5px;
}
