.main-seed-view {
    
}

.header-label {
    -fx-font-size: 1.2em;
    -fx-font-style: italic;
    -fx-border: 5px;
}

.field-label {
    -fx-font-size: 0.9em;
    -fx-border: 2px;
}

.data-label {
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
    -fx-border: 2px;
}

.button {
    -fx-font-size: 1.2em;
}

.table-column {
    -fx-font-size: 1.2em;
    -fx-font-weight: normal;
    -fx-border: 2px;
}
